div#page_content{ 
					margin: 40px; 
					width: 500px; 
					min-height: 300px; 
					margin-left: 360px; 
					
					text-align: left;
					font-size: 17px;
					color: #828282;
					line-height: 23px;
			}
#content div#header	{ 		background: none; border-bottom: none;}
#content a#logo div { background: url(../img/logo2_over.png);}
/* @group common */

#content .orange{
						color: #ff8a00;
				}
#content .blue	{
						color: #65adb6;
				}
				
/*#content ul{ 
					
				}
#content li{ 	
					list-style: disc; 
				}*/

.logo b{
					font-weight: bolder;
}
/* @end */

/* @group page content */

#page_content h1 { 
					font-size: 30px;
					line-height: 40px;
					margin-bottom: 15px;  
				 }
#page_content h2 { 
					font-size: 20px;
					line-height: 30px;
					margin-bottom: 5px; 
				}
#page_content h3 { 
					font-size: 19px; 
					line-height: 24px;
					margin-bottom: 5px; 
					font-weight: bold; 
				}
#page_content a { 
					color: #f63; 
				}
#page_content p { 
					margin-bottom: 25px; 
				}

/* Legend */
div.legend					{ float:left; display: inline; height: auto; width: 200px; margin-right: 30px; }
h2.legend					{ font-size:1.2em; margin-top:8px; }
li.legend					{ padding:5px 30px; width:150px; font-size: 12px;}
li.legend.node				{ background: url(../img/node.png) no-repeat left center; }
li.legend.selected			{ background: url(../img/selected.png) no-repeat left center; }
li.legend.currently			{ background: url(../img/current.png) no-repeat left center; }
li.legend.search			{ background: url(../img/searchresult.png) no-repeat left center; }
li.legend.move				{ background: url(../img/icons/move.png) no-repeat left center; }
li.legend.zoom				{ background: url(../img/icons/zoom.png) no-repeat left center; }
li.legend.add				{ background: url(../img/icons/calendar.png) no-repeat left center; }
li.legend.remove			{ background: url(../img/icons/remove.png) no-repeat left center; }
li.legend.expand			{ background: url(../img/icons/expand.png) no-repeat left center; }
li.legend.download			{ background: url(../img/icons/download.png) no-repeat left center; }

/* @end */

/* @group side bar */

#tabs .content{
				text-align: right;
				width: 180px;
				line-height: 17px;
				font-size: 12px;
				color: #545454;
				margin-top: 30px;
				margin-left: 80px;
}
#tabs b, #tabs h2{
				font-weight: bold;
				color: #000;
}
#tabs h1 { 
					font-size: 15px;
					line-height: 20px;
					margin-top: 10px;
					margin-bottom: 10px;  
				 }
#tabs h2{
				margin-top: 40px;
				margin-bottom: 10px;
				
}
#tabs .small{
				font-size: 10px;
}

/* @end */